<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <% if user.id != current_user.id %>
    <tr id="following_count"><%= render 'relationships/info_follows', user: user %></tr>
    <tr id="follower_count"><%= render 'relationships/info_followers', user: user %></tr>
  <% else %>
    <tr id="current_following"><%= render 'relationships/info_follows', user: user %></tr>
    <tr id="current_follower"><%= render 'relationships/info_followers', user: user %></tr>
  <% end %>
</table>

<div class='row', id="follow_btn_<%= user.id %>">
  <%= render 'relationships/btn', user: user %>
  <% if user.id == current_user.id %>
    <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block edit_user_#{user.id}" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  <% end %>
</div>